---
/* IMPORTS TO COMPONENTS */
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Skill from "../components/Skill.astro";
import Course from "../components/Course.astro";
import Experience from "../components/Experience.astro";
import Project from "../components/Project.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";

/* GET DATA TO JSON SERVER */
const responseExperiences = await fetch("http://localhost:3000/experiences");
const responseSkills = await fetch("http://localhost:3000/skills");
const responseCourses = await fetch("http://localhost:3000/courses");

/* FORMAT JSON AND SAVE TO VARIABLE */
const experiences = await responseExperiences.json();
const skills = await responseSkills.json();
const courses = await responseCourses.json();
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <!--   SECTION BODY -->
  <body class="bg-gradient-to-b from-slate-900 to-slate-400 font-principal">
    <!-- HEADER -->
    <header>
      <Header />
    </header>

    <!-- MAIN -->
    <main class="mx-4">
      <!-- SECTION ABOUT ME -->
      <article>
        <About />
      </article>

      <!-- SECTION SKILLS -->
      <section
        class="max-w-[650px] m-auto flex flex-row flex-wrap justify-center content-center items-center gap-[8px]"
      >
        <h2 class="text-black w-full text-center py-8">SKILLS</h2>
        {skills.map((skill) => <Skill skill={skill} />)}
      </section>

      <!-- SECTION COURSES -->
      <section
        class="flex flex-col justify-center content-center items-center gap-[2px]"
      >
        <h2 class="text-black mb-6 mt-14">FORMACION</h2>
        <div>
          <ul>
            {
              courses.map((course) => (
                <li class="text-slate-200">
                  <Course course={course} />
                </li>
              ))
            }
          </ul>
        </div>
      </section>

      <!-- SECCION EXPERIENCES -->
      <section
        class="flex flex-col justify-evenly content-center items-center py-4 gap-[20px]"
      >
        <h2 class="text-black my-8">EXPERIENCES</h2>
        {
          experiences.map((experience) => (
            <Experience experience={experience} />
          ))
        }
      </section>

      <!--SECTION PROJECTS -->
      <section>
        <h2 class="text-black text-center py-8">PROJECTS</h2>
        <Project />
      </section>

      <!--SECTION FORM -->
      <form method="post" class="py-8">
        <h2 class="text-black text-center py-8">CONTACTO</h2>
        <Form />
      </form>
    </main>
    <!-- SECTION FOOTER -->
    <footer
      class="bg-black gap-4 py-8 text-white flex flex-col justify-around content-center flex-wrap px-4"
    >
      <Footer />
    </footer>
  </body>
</html>
