---
import Header from "../components/Header.astro";
import Skill from "../components/Skill.astro";
import Experience from "../components/Experience.astro";
import Course from "../components/Course.astro";
const responseExperiences = await fetch("http://localhost:3000/experiences");
const responseSkills = await fetch("http://localhost:3000/skills");
const responseCourses = await fetch("http://localhost:3000/courses");
const experiences = await responseExperiences.json();
const skills = await responseSkills.json();
const courses = await responseCourses.json();
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-black font-principal">
    <!-- HEADER -->
    <header>
      <Header />
    </header>

    <!-- MAIN -->
    <main class="mx-4">
      <!-- SECCION SKILLS -->
      <section
        class="flex flex-row flex-wrap justify-center content-center items-center gap-[8px]"
      >
        <h2 class="text-white w-full text-center mb-4">SKILLS</h2>
        {skills.map((skill) => <Skill skill={skill} />)}
      </section>

      <!-- SECTION COURSES -->
      <section
        class="flex flex-col justify-evenly content-center items-center py-4 gap-[20px]"
      >
        <h2 class="text-white">COURSES</h2>

        <ul>
          {
            courses.map((course) => (
              <li class="text-gray-700 list-disc ">
                <Course course={course} />
              </li>
            ))
          }
        </ul>
      </section>

      <!-- SECCION EXPERIENCES -->
      <section
        class="flex flex-col justify-evenly content-center items-center py-4 gap-[20px]"
      >
        <h2 class="text-white">EXPERIENCES</h2>
        {
          experiences.map((experience) => (
            <Experience experience={experience} />
          ))
        }
      </section>
    </main>
  </body>
</html>
