---
/* IMPORTS TO COMPONENTS */
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Skill from "../components/Skill.astro";
import Course from "../components/Course.astro";
import Experience from "../components/Experience.astro";
import Project from "../components/Project.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";

/* GET DATA TO JSON SERVER */
const responseSkills = await fetch("http://localhost:3000/skills");
const responseCourses = await fetch("http://localhost:3000/courses");

/* FORMAT JSON AND SAVE TO VARIABLE */
const skills = await responseSkills.json();
const courses = await responseCourses.json();
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kenneth Rodríguez - Ingeniero en Sistemas</title>
    <link rel="icon" href="/public/astro.svg" type="image.svg" />
    <meta
      name="description"
      content="Portafolio de Kenneth Rodríguez, ingeniero en sistemas."
    />
    <meta
      name="keywords"
      content="Kenneth Rodríguez, Portafolio, Ingeniero en sistemas, FrondEnd, Desarrollador web"
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Portafolio de Kenneth Rodríguez" />
    <meta
      property="og:description"
      content="Bienvenido a mi portafolio. Soy un ingeniero en sistemas apasionado por el desarrollo de software."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <!--   SECTION BODY -->
  <body class="bg-gradient-to-b from-slate-800 to-slate-300 font-principal">
    <!-- HEADER -->
    <Header />

    <!-- MAIN -->
    <main class="mx-4">
      <!-- SECTION ABOUT ME -->
      <About />

      <!-- SECTION SKILLS -->
      <section
        id="habilidades"
        class="max-w-[650px] m-auto flex flex-row flex-wrap justify-center content-center items-center gap-[8px]"
      >
        <h2 class="text-black w-full text-center py-8">HABILIDADES</h2>
        {skills.map((skill) => <Skill skill={skill} />)}
      </section>

      <!-- SECTION COURSES -->
      <section id="formacion">
        <h2 class="text-black mb-6 mt-14 text-center">FORMACION</h2>
        <div>
          <ul
            class="flex flex-col justify-center w-full content-center items-center gap-[4px] md:flex-row md:flex-wrap md:gap-4"
          >
            {
              courses.map((course) => (
                <li class="text-slate-200">
                  <Course course={course} />
                </li>
              ))
            }
          </ul>
        </div>
      </section>

      <!-- SECCION EXPERIENCES -->
      <Experience />

      <!--SECTION PROJECTS -->
      <Project />
      <!--SECTION FORM -->
      <Form />
    </main>
    <!-- SECTION FOOTER -->
    <Footer />
  </body>
</html>
