---

---

<article id="inicio">
  <div
    class="py-6 px-4 flex flex-col justify-center items-center content-center"
  >
    <section
      class="flex flex-row justify-between items-center content-center gap-2 pb-5 md:w-3/6"
    >
      <div>
        <h1
          class="bg-gradient-to-b from-slate-50 to-slate-900 bg-clip-text text-transparent pb-2 font-bold text-2xl"
        >
          TITLE
        </h1>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic illo
          optio consectetur voluptates eaque dolor illum expedita fuga dolorum
          exercitationem suscipit error, at architecto neque ratione ipsa,
          sapiente odit nemo?
        </p>
      </div>

      <img
        class="drop-shadow-[0_1px_3px_rgba(255,255,255,0.5)] w-[150px] relartive z-0"
        src="/public/kenneth.png"
        alt="Kenneth image"
      />
    </section>
    <section
      class="flex flex-col justify-evenly content-center items-center flex-wrap gap-7 pt-4"
    >
      <a
        href="/public/CV/CV-Kenneth-ESP.pdf"
        download="CV_Kenneth-Rodríguez.pdf"
      >
        <button
          class="w-fit text-black flex flex-row content-center items-center justify-around mb-4 hover:shadow-md hover:shadow-green-600"
        >
          <div class="bg-green-500 p-2">
            <p class="font-bold">Download CV</p>
          </div>

          <div class="bg-green-700 p-2 w-[40px] h-[40px]">
            <img
              src="/public/descargar.svg"
              alt="Download"
              class="w-[25px] animate-bounce"
            />
          </div>
        </button>
      </a>
      <div
        class="rounded-2xl flex flex-row content-center justify-center items-center bg-gradient-to-r from-gray-400 to-gray-600"
      >
        <a href="https://www.linkedin.com/in/kenneth-cr-506cr/" target="_blank">
          <button
            class="bg-transparent px-4 cursor-pointer p-1 duration-200 hover:bg-gray-800 hover:scale-105 rounded-l-2xl group"
          >
            <img
              src="/public/linkedin.svg"
              alt="LinkedIn"
              class="w-[38px] group-hover:drop-shadow-[0_1px_3px_rgb(255,255,255)]"
            />
          </button></a
        >

        <a href="https://github.com/Kenneth506CR" target="_blank">
          <button
            class="px-4 p-1 hover:scale-105 duration-200 hover:bg-gray-800 group"
          >
            <img
              src="/public/github.svg"
              alt="Github"
              class="w-[38px] group-hover:drop-shadow-[0_1px_3px_rgb(255,255,255)]"
            />
          </button></a
        >

        <a
          href="https://wa.me/50683082193?text=Hola%2C%20he%20visto%20tu%20portafolio%20y%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20sobre%20tus%20proyectos%20y%20habilidades.%20%C2%BFPodr%C3%ADamos%20conversar%20sobre%20ello%3F"
          target="_blank"
        >
          <button
            class="px-4 p-1 hover:scale-105 duration-200 hover:bg-gray-800 rounded-r-2xl group"
          >
            <img
              src="/public/whatssapp.svg"
              alt="WhatsApp"
              class="w-[38px] group-hover:drop-shadow-[0_1px_3px_rgb(255,255,255)]"
            />
          </button></a
        >
      </div>
    </section>
  </div>
</article>
