---

---

<div class="py-6 px-4 flex flex-col">
  <section
    class="flex flex-row justify-between items-center content-center gap-2"
  >
    <div>
      <h1 class="text-white pb-2">Quien es Kenneth?</h1>
      <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic illo optio
        consectetur voluptates eaque dolor illum expedita fuga dolorum
        exercitationem suscipit error, at architecto neque ratione ipsa,
        sapiente odit nemo?
      </p>
    </div>
    <img
      class="shadow-sm w-[130px]"
      src="/public/kenneth.png"
      alt="Kenneth image"
    />
  </section>
  <section
    class="flex flex-col justify-evenly content-center items-center flex-wrap gap-7 pt-4"
  >
    <button class="text-white border-2 w-20">
      <img src="" />Download CV
    </button>
    <div class="flex flex-row content-center justify-evenly items-center gap-4">
      <button class="text-white border-2">
        <img src="" />LinkedIn
      </button>
      <button class="text-white border-2">
        <img src="" />GitHub
      </button>
      <button class="text-white border-2">
        <img src="" />WhatsApp
      </button>
    </div>
  </section>
</div>
