---

---

<div class="w-[40%]">
  <h3>Contacto</h3>
  <p>Tilaran, Gunacaste, Costa Rica</p>
  <p>+506 83082193</p>
  <p>kenneth2741999@gmail.com</p>
</div>
<div class="w-[40%]">
  <h3 class="">Servicios</h3>
  <p>Fron-End Developer</p>
  <p>Web Developer</p>
  <p>Responsive Design</p>
</div>
<div
  class="w-[100%] flex flex-row justify-center flex-wrap content-center items-center gap-4"
>
  <h3 class="text-center w-full">Redes sociales</h3>
  <button>
    <img src="" alt="GitHub" />GitHub
  </button>
  <button>
    <img src="" alt="LinkedInk" />LinkedInk
  </button>
  <button>
    <img src="" alt="WhatsApp" />WhatsApp
  </button>
  <button>
    <img src="" alt="Instagram" />Instagram
  </button>
</div>
