---

---

<div>
  <h3 class="pb-2 text-lg">Contacto</h3>
  <p>Tilarán, Gunacaste, Costa Rica</p>
  <p>+506 83082193</p>
  <p>kenneth2741999@gmail.com</p>
</div>
<div>
  <h3 class="text-lg pb-2">Servicios</h3>
  <p>Fron-End Developer</p>
  <p>Full Stack Developer</p>
  <p>Web Developer</p>
  <p>Responsive Design</p>
</div>
<div
  class="pt-2 w-full flex flex-row justify-center flex-wrap content-center items-center gap-5"
>
  <a href="https://github.com/Kenneth506CR" target="_blank">
    <button class="rounded-full bg-white p-1 hover:bg-gray-400">
      <img src="/public/github.svg" alt="GitHub" />
    </button>
  </a>

  <a href="https://www.linkedin.com/in/kenneth-cr-506cr/" target="_blank">
    <button class="rounded-full bg-white p-1 hover:bg-gray-400">
      <img src="/public/linkedin.svg" alt="LinkedIn" />
    </button>
  </a>
  <a
    href="https://wa.me/50683082193?text=Hola%2C%20he%20visto%20tu%20portafolio%20y%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20sobre%20tus%20proyectos%20y%20habilidades.%20%C2%BFPodr%C3%ADamos%20conversar%20sobre%20ello%3F"
    target="_blank"
  >
    <button class="rounded-full bg-white p-1 hover:bg-gray-400">
      <img src="/public/whatssapp.svg" alt="WhatsApp" />
    </button>
  </a>
  <a href="https://www.instagram.com/kenneth_506cr/" target="_blank">
    <button class="rounded-full bg-white p-1 hover:bg-gray-400">
      <img src="/public/instagram.svg" alt="Instagram" />
    </button>
  </a>
</div>
