---

---

<div>
  <h3 class="pb-2 text-lg">Contacto</h3>
  <p>Tilaran, Gunacaste, Costa Rica</p>
  <p>+506 83082193</p>
  <p>kenneth2741999@gmail.com</p>
</div>
<div>
  <h3 class="text-lg pb-2">Servicios</h3>
  <p>Fron-End Developer</p>
  <p>Web Developer</p>
  <p>Responsive Design</p>
</div>
<div
  class="pt-2 w-full flex flex-row justify-center flex-wrap content-center items-center gap-5"
>
  <button class="rounded-full bg-white p-1">
    <img src="/public/github.svg" alt="GitHub" />
  </button>
  <button class="rounded-full bg-white p-1">
    <img src="/public/linkedin.svg" alt="LinkedIn" />
  </button>
  <button class="rounded-full bg-white p-1">
    <img src="/public/whatsapp.svg" alt="WhatsApp" />
  </button>
  <button class="rounded-full bg-white p-1">
    <img src="/public/instagram.svg" alt="Instagram" />
  </button>
</div>
