---

---

<fieldset class="bg-amber-700 px-8 py-4 border-black rounded-xl">
  <legend class="text-white">Contact</legend>
  <div>
    <label class="block">Name</label>
    <input class="rounded-md w-full h-6" type="text" />
  </div>
  <div>
    <label class="block pt-2">Email</label>
    <input class="rounded-md w-full h-6" type="text" type="email" />
  </div>
  <div>
    <label class="block pt-2">Subject</label>
    <input class="rounded-md w-full h-6" type="text" type="text" />
  </div>
  <div>
    <label class="block pt-2">Messaje</label>
    <textarea class="resize-none w-full h-20 rounded-md"></textarea>
  </div>
  <div class="text-center pt-5">
    <button
      class="items-center bg-black text-white px-4 py-1 rounded-sm"
      type="submit">Submit</button
    >
  </div>
</fieldset>
