---

---

<nav class="bg-slate-300 w-full h-14">
  <input type="checkbox" id="menu" class="peer hidden" />
  <label
    class="absolute z-50 font-bold text-[45px] transition-all cursor-pointer right-3 select-none"
    for="menu">=</label
  >
  <div
    class="peer-checked:translate-x-0 transition-transform fixed inset-0 bg-gradient-to-b from-white/70 to-black/70 translate-x-full"
  >
    <ul
      class="shadow-2xl bg-white w-[90%] mx-auto my-20 rounded-md h-max text-center flex flex-col gap-6 py-6 font-bold content-center"
    >
      <li>
        <a href="#">About me</a>
      </li>
      <li>
        <a href="#">Skills</a>
      </li>
      <li>
        <a href="#">Experience </a>
      </li>
      <li>
        <a href="#">Projects</a>
      </li>
      <li>
        <a href="#">Questions</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
