---

---

<script>
  const menuToggle = document.querySelector("#menu-toggle");
  const menuButton = document.querySelector("#menu-button");
  const nav = document.querySelector("#nav");

  menuButton.addEventListener("click", () => {
    if (menuToggle.getAttribute("checked")) {
      nav.classList.add("hidden");
      menuToggle.removeAttribute("checked");
      menuButton.querySelector("img").src = "/public/menu.svg";
    } else {
      nav.classList.remove("hidden");
      menuToggle.setAttribute("checked", "true");
      menuButton.querySelector("img").src = "/public/close.svg";
    }
  });
</script>

<input type="checkbox" id="menu-toggle" class="hidden" />
<label for="menu-toggle" id="menu-button">
  <img src="/public/menu.svg" alt="menu" class="w-[42px]" id="menu" />
</label>

<nav class="hidden absolute inset-0 top-24 backdrop-blur-sm z-10" id="nav">
  <ul
    class="bg-opacity-90 bg-white w-[90%] mx-auto m-auto rounded-md text-center flex flex-col gap-6 py-6 font-bold content-center"
  >
    <li><a href="#">INICIO</a></li>
    <li><a href="#">HABILIDADES</a></li>
    <li><a href="#">FORMACION</a></li>
    <li><a href="#">EXPERIENCIA LABORAL </a></li>
    <li><a href="#">PROYECTOS</a></li>
    <li><a href="#">CONTACTO</a></li>
  </ul>
</nav>
