---

---

<div
  class="bg-gray-600 rounded-b-lg py-4 flex flex-col justify-evenly content-center items-center gap-4"
>
  <div>
    <img class="w-[250px]" src="/public/instagram.svg" alt="image project" />
  </div>

  <div class="bg-white p-2">
    <p>TITLE</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto id in eius
      molestias aliquam vel. Laudantium veniam placeat, dolore molestias
      pariatur facere. Magnam sapiente dicta excepturi minima libero, fugit
      quisquam.
    </p>
  </div>

  <button class="bg-black text-white p-2 w-20 rounded-lg">vizualizar</button>
</div>
