---
const {
  skill: { name, image },
} = Astro.props;
---

<div
  class="bg-slate-200 rounded-sm p-1 flex flex-col justify-evenly content-center items-center w-[75px]"
>
  <img src={"/public/" + image} alt={name} class="w-[40px] h-[40px]" />
  <p class="text-xs font-bold">{name}</p>
</div>
